---

---

<div class="box absolute z-50 bottom-0 top-97 mt-auto mb-auto">
    <div class="text-4xl font-semibold font-poppins text-white">
        Muhammad Riz<span class="text-yellow_normal">qi</span> Ak<span
            class="text-yellow_normal">bar</span
        > Rabbani
    </div>
    <div id="box" class="full-size mx-auto">
        <div id="square" class="absolute -top-1 left-0 w-full h-12 scale-x-105 scale-y-120">
            <span
                id="left-side"
                class="absolute left-0 bottom-0 h-[200px] w-px bg-transparent mask-t-from-0% mask-t-to-90%"
            ></span>
            <span
                id="top-side"
                class="absolute top-0 left-0 w-[200px] h-px bg-transparent mask-l-from-0% mask-l-to-90%"
            ></span>
            <span
                id="right-side"
                class="absolute right-0 top-0 h-full w-px bg-transparent mask-b-from-0% mask-b-to-90%"
            ></span>
            <span
                id="bottom-side"
                class="absolute bottom-0 right-0 w-[200px] h-px bg-transparent mask-r-from-0% mask-r-to-90%"
            ></span>
        </div>
    </div>
</div>
