---
// Component of head is : 
// - Gambar Gue
// - 2 Background Square yang tumpang tindih

// import me
import me from "../assets/me.svg";

// import back
import front from "../assets/Back-Human-Front.svg";
import back from "../assets/Back-Human-Back.svg";
---
<div class="box relative size-full scale-85 mb-20">
    <img src={me.src} alt="me" class="
    w-[477px]
    h-[531px]
    absolute
    bottom-75 
    left-0 
    right-0 
    ml-auto
    mr-auto
    z-30
    ">
    
    <img src={front.src} alt="front" class="
    w-[450px]
    h-[880px]
    absolute
    left-0 
    right-0
    top-10 
    ml-auto
    mr-auto
    z-20
    ">
    
    <img src={back.src} alt="back" class="
    w-[608px]
    h-[880px]
    absolute
    left-0 
    right-0 
    top-20
    ml-auto
    mr-auto
    z-10
    ">

</div>