<div class="z-50">
    <div class="box text-center text-3xl text-tosca_light">
        <h1>
            UI designer & software instructor crafting smart visuals and smarter
            learning, with 5+ years of full-stack experience
        </h1>
    </div>
    <div class="divider"></div>
    <div class="box grid grid-flow-col gap-10 w-3/4">
        <button
            class="btn border-cream_dark_hover w-full text-cream_light rounded-full bg-cream_darker hover:duration-1000 hover:border-2 hover:border-cream_hover"
            >Projects</button
        >
        <button
            class="btn border-red_dark_hover w-full text-red_light rounded-full bg-red_darker hover:duration-1000 hover:border-2 hover:border-red_hover"
            >Partners</button
        >
        <button
            class="btn border-black_dark_hover w-full text-black_light rounded-full bg-black_darker hover:duration-1000 hover:border-2 hover:border-black_hover"
            >Design Work</button
        >
        <button
            class="btn border-yellow_dark_hover w-full text-yellow_light rounded-full bg-yellow_darker hover:duration-1000 hover:border-2 hover:border-yellow_hover"
            >Experience</button
        >
    </div>
</div>
