---

// import components
import Header from "../components/Top.astro";
import Footer from "../components/Bottom.astro";
import Logome from "../assets/logo.svg";
// import tailwind
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="size-full subpixel-antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={Logome.src} type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>Hasqibar</title>
	</head>
	<body
	class="m-0
    px-10
    flex
    items-center
    flex-col
    size-full
    overflow-x-hidden
    overflow-y-auto
	bg-no-repeat
    bg-linear-to-b
    from-start_bg
    to-end_bg"
	>
		<Header />
		<div
			class="box
            border
            rounded-4xl
            border-white
            size-full
			items-center
			flex
			flex-col"
		>
			<slot />
		</div>
		<Footer/>
		<script src="../JS/gsap.js"></script>
	</body>
</html>
